header {
  display: inline-block;
}
header a.header-txt {
  text-decoration: none;
}
header .header-icon-with-txt {
  align-items: center;
}
header .header-icon {
  width: 9em;
}
header .header-txt {
  text-decoration: none;
  font-size: 3em;
  line-height: 0.9em;
  margin: 0.4em;
}
header .header-menu-icon {
  width: 5em;
  margin: 1em;
}
.gallery {
  display: inline-block;
  position: sticky;
}
.gallery .gallery-drink-1 {
  width: 32%;
  height: 35em;
  margin: 0.5%;
  object-fit: cover;
}
.gallery .gallery-drink-2 {
  width: 24%;
  margin: 0.5%;
  height: 24em;
  object-fit: cover;
}
.gallery .gallery-drink-3 {
  width: calc(40%);
  margin: 0.5%;
  height: 24em;
  object-fit: cover;
}
.gallery .gallery-drink-4 {
  width: 37.5%;
  margin: 0.5%;
  height: 23em;
  object-fit: cover;
}
.gallery .gallery-drink-5 {
  width: calc(59.75%);
  height: 33.8em;
  margin: 0.5%;
  margin-top: -165px;
  object-fit: cover;
}
.new-items .new-items-title {
  font-size: 8em;
  color: #028354;
}
.new-items .new-items-txt-with-button {
  margin-top: 7%;
}
.new-items .new-item {
  background-color: #028354;
  font-size: 4.2em;
  color: #ffffff;
  align-items: center;
}
.new-items .new-item .col-3 {
  margin: 2.5%;
}
.new-items .new-item-img {
  width: 20vw;
  margin: 2.5%;
}
.new-items .new-item-2 {
  font-size: 4.2em;
  align-items: center;
}
footer .row {
  background-color: #dadada;
}
footer .footer-icon {
  width: 8%;
  margin: 3%;
}
footer .footer-txt {
  font-size: 1.9em;
}
.map .map-txt {
  font-size: 38pt;
  margin-left: 1.5%;
}
.map .map-img {
  width: 100%;
}
.profile {
  padding: 0px;
}
.profile .link {
  margin-left: 2%;
}
.profile .form {
  font-size: 28pt;
}
.profile-title {
  font-size: 38pt;
  margin: 3%;
}
.profile .form {
  background-color: #e4e4e4;
  padding-left: 2%;
}
.profile .form-label {
  margin-left: 2%;
  width: 95%;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom-color: #acacac;
  background-color: #e4e4e4;
}
.profile .profile-button {
  margin-left: 4%;
  border-color: black;
  background-color: black;
  font-size: 30pt;
  color: #ffffff;
  margin-bottom: 4%;
  width: 30%;
  height: 10vh;
}
.menu .menu-tite {
  font-size: 60pt;
  color: #028354;
}
.menu .drink-1 {
  background-color: #028354;
  font-size: 5.5em;
  color: #ffffff;
  align-items: center;
}
.menu .drink-1 img {
  margin-left: 5.5%;
}
.menu .drink-2 {
  font-size: 5.1em;
  align-items: center;
}
.menu .menu-img {
  width: 1vw;
  margin: 2%;
}
.menu .menu-button {
  border-color: black;
  background-color: black;
  font-size: 30pt;
  color: #ffffff;
  margin-bottom: 4%;
  width: 85%;
  height: 13vh;
}
.menu .menu-button-2 {
  float: right;
  border-color: black;
  background-color: black;
  font-size: 30pt;
  color: #ffffff;
  margin-bottom: 4%;
  width: 85%;
  height: 13vh;
}
.history .order {
  font-size: 30pt;
  background-color: #dadada;
}
.history p {
  margin: 1%;
}
.basket .basket-title {
  font-size: 4em;
}
.basket .font-italic {
  font-size: 2em;
}
.basket .col-xl-1,
.basket .col-3 {
  margin: 2%;
}
.basket .price {
  font-size: 1.2em;
  margin-left: 1%;
}
.basket .total-cost {
  font-size: 3em;
  margin: 2%;
}
.button {
  border-color: black;
  background-color: black;
  font-size: 30pt;
  color: #ffffff;
  margin-bottom: 4%;
  width: 70%;
  height: 12vh;
}
.button-2 {
  float: right;
  border-color: black;
  background-color: black;
  font-size: 30pt;
  color: #ffffff;
  margin-bottom: 4%;
  width: 70%;
  height: 12vh;
}
.green-button {
  border-color: #00a651;
  background-color: #00a651;
  font-size: 48pt;
  margin-left: 4%;
}
@media (max-width: 575.98px) {
  header .header-icon {
    width: 3em;
  }
  header .header-txt {
    font-size: 1em;
  }
  header .header-menu-icon {
    width: 1.5em;
    margin: 0.2em;
  }
  .new-items .new-items-title {
    font-size: 2.5em;
  }
  .new-items .new-item,
  .new-items .new-item-2 {
    font-size: 3.5em;
  }
  .menu .menu-tite {
    font-size: 1.7em;
  }
  .menu .menu-button,
  .menu .menu-button-2 {
    width: 45vw;
    height: 6vh;
    font-size: 10pt;
  }
  .menu p {
    font-size: 0.3em;
  }
  .map .map-txt {
    font-size: 19pt;
  }
  .profile-title {
    font-size: 1.5em;
  }
  .profile .form {
    font-size: 1.2em;
  }
  .profile .link {
    font-size: 0.9em;
  }
  .profile .profile-button {
    width: 45vw;
    height: 4vh;
    font-size: 1em;
  }
  .gallery .gallery-drink-1 {
    width: 32%;
    height: 12em;
    margin: 0.5%;
  }
  .gallery .gallery-drink-2 {
    width: 24%;
    margin: 0.5%;
    height: 6.5em;
  }
  .gallery .gallery-drink-3 {
    width: calc(38%);
    margin: 0.5%;
    height: 6.5em;
  }
  .gallery .gallery-drink-4 {
    width: 37.5%;
    margin: 0.5%;
    height: 6em;
  }
  .gallery .gallery-drink-5 {
    width: calc(58.75%);
    height: 11.2em;
    margin: 0.5%;
    margin-top: -82.5px;
  }
  .basket .basket-title {
    font-size: 2em;
  }
  .basket .font-italic {
    font-size: 1em;
  }
  .basket .total-cost {
    font-size: 1.1em;
  }
  .basket .price {
    font-size: 0.7em;
  }
  .basket img {
    width: 200em;
  }
  p {
    font-size: 0.3em;
    word-break: break-word;
  }
  .button,
  .button-2 {
    width: 45vw;
    height: 6vh;
    font-size: 10pt;
  }
  .green-button {
    font-size: 2em;
  }
  footer .footer-txt {
    font-size: 0.7em;
  }
}
