header {
    display: inline-block;
    .header-icon-with-txt {
        align-items: center;
    }
    .header-icon {
        width: 10em;
    }
    .header-txt {
        font-size: 3.5em;
        line-height: 0.9em;
        margin: 0.4em;
    }
    .header-menu-icon {
        width: 6em;
        margin: 1em;
    }
}

.gallery {
    display: inline-block;
    position: sticky;  
    .gallery-drink-1 {
        width: 32%;
        margin: 0.5%;
    }
    .gallery-drink-2 {
        width: 24%;
        margin: 0.5%;
    }
    .gallery-drink-3 {
        width: 40%;
        margin: 0.5%;
    }
    .gallery-drink-4 {
        width: 37.5%;
        margin: 0.5%;
    }
    .gallery-drink-5 {
        width: 59.5%;
        margin: 0.5%;
    }
}