header {
  display: inline-block;
}
header .header-icon-with-txt {
  align-items: center;
}
header .header-icon {
  width: 10em;
}
header .header-txt {
  font-size: 3.5em;
  line-height: 0.9em;
  margin: 0.4em;
}
header .header-menu-icon {
  width: 6em;
  margin: 1em;
}
.gallery {
  display: inline-block;
  position: sticky;
}
.gallery .gallery-drink-1 {
  width: 32%;
  margin: 0.5%;
}
.gallery .gallery-drink-2 {
  width: 24%;
  margin: 0.5%;
}
.gallery .gallery-drink-3 {
  width: 40%;
  margin: 0.5%;
}
.gallery .gallery-drink-4 {
  width: 37.5%;
  margin: 0.5%;
}
.gallery .gallery-drink-5 {
  width: 59.5%;
  margin: 0.5%;
}
.new-items .new-items-title {
  font-size: 100pt;
  color: #028354;
}
.new-items .new-items-txt-with-button {
  margin-top: 7%;
}
.new-items .new-item-1 {
  background-color: #028354;
  font-size: 60pt;
  color: #ffffff;
}
.new-items .new-item-img {
  margin: 2.5%;
}
.new-items .new-item-button {
  border-color: black;
  background-color: black;
  font-size: 30pt;
  color: #ffffff;
  margin-bottom: 4%;
}
.new-items .new-item-button-2 {
  border-color: black;
  background-color: black;
  font-size: 30pt;
  color: #ffffff;
  float: right;
}
.new-items .new-item-2 {
  font-size: 60pt;
}
.new-items .new-item-3 {
  background-color: #028354;
  font-size: 60pt;
  color: #ffffff;
}
footer .footer-icon {
  width: 10%;
  margin: 2%;
}
footer .footer-txt {
  font-size: 20pt;
}
