header {
    display: inline-block;
    a.header-txt{
        text-decoration: none; 
    }
    .header-icon-with-txt {
        align-items: center;
    }
    .header-icon {
        width: 9em;
    }
    .header-txt {
        text-decoration: none;
        font-size: 3em;
        line-height: 0.9em;
        margin: 0.4em;
    }
    .header-menu-icon {
        width: 5em;
        margin: 1em;
    }
}

.gallery {
    display: inline-block;
    position: sticky;  
    .gallery-drink-1 {
        width: 32%;
        height: 35em;
        margin: 0.5%;
        object-fit: cover;
    }
    .gallery-drink-2 {
        width: 24%;
        margin: 0.5%;
        height: 24em;
        object-fit: cover;
    }
    .gallery-drink-3 {
        width: calc(100%-8*0.5%-32%-24%);
        margin: 0.5%;
        height: 24em;
        object-fit: cover;
    }
    .gallery-drink-4 {
        width: 37.5%;
        margin: 0.5%;
        height: 23em;
        object-fit: cover;
    }
    .gallery-drink-5 {
        width: calc(100%-5.5*0.5%-37.5%);
        height: 33.8em;
        margin: 0.5%;
        margin-top: -165px;
        object-fit: cover;
    }
}

.new-items {
    .new-items-title {
    font-size: 8em;
    color: rgba(2, 131, 84, 255);
    }
    .new-items-txt-with-button{
        margin-top: 7%;
    }
    .new-item{
        background-color: rgba(2, 131, 84, 255);
        font-size: 4.2em;
        color: rgba(255, 255, 255, 255);  
        align-items: center;  
        .col-3 {
            margin: 2.5%;
        } 
    }
    .new-item-img {
        width: 20vw;
        margin: 2.5%;
    }
    .new-item-2 {
        font-size: 4.2em;
        align-items: center;
    }
}

footer {
    .row {
        background-color: #dadada;
    }
    .footer-icon {
        width: 8%;
        margin: 3%;
    }
    .footer-txt {
        font-size: 1.9em;
    }
}

.map {
    .map-txt {
        font-size: 38pt;
        margin-left: 1.5%;
    }
    .map-img {
        width: 100%;
    }
}

.profile {
    padding: 0px;
    .link {
        margin-left: 2%;
    }
    .form {
        font-size: 28pt;
    }
    &-title {
        font-size: 38pt;
        margin: 3%;
    }
    .form {
        background-color: #e4e4e4;
        padding-left: 2%;
    }
    .form-label {
        margin-left: 2%;
        width: 95%;
        border-right: none;
        border-top: none;
        border-left: none;
        border-bottom-color: #acacac;
        background-color: #e4e4e4;
    }
    .profile-button {
        margin-left: 4%;
        border-color: black;
        background-color: black;
        font-size: 30pt;
        color: rgba(255, 255, 255, 255);
        margin-bottom: 4%;
        width: 30%;
        height: 10vh;
    }
}

.menu {
    .menu-tite {
        font-size: 60pt;
        color: rgba(2, 131, 84, 255);
        }
    .drink-1 {
        img {
            margin-left: 5.5%;
        }
        background-color: rgba(2, 131, 84, 255);
        font-size: 5.5em;
        color: rgba(255, 255, 255, 255);  
        align-items: center; 
    }
    .drink-2 {
        font-size: 5.1em;
        align-items: center;
    }
    .menu-img {
        width: 1vw;
        margin: 2%;
    }
    .menu-button {
        border-color: black;
        background-color: black;
        font-size: 30pt;
        color: rgba(255, 255, 255, 255);
        margin-bottom: 4%;
        width: 85%;
        height: 13vh;
    }
    .menu-button-2 {
        float: right;
        .menu-button();
    }
}

.history {
    .order {
        font-size: 30pt;
        background-color: #dadada;
    }
    p {
        margin: 1%;
    }
}

.basket {
    .basket-title {
        font-size: 4em;
    }
    .font-italic {
        font-size: 2em;
    }
    .col-xl-1, .col-3 {
        margin: 2%;
    }
    .price {
        font-size: 1.2em;
        margin-left: 1%;
    }
    .total-cost {
        font-size: 3em;
        margin: 2%;
    }
}

.button {
    border-color: black;
    background-color: black;
    font-size: 30pt;
    color: rgba(255, 255, 255, 255);
    margin-bottom: 4%;
    width: 70%;
    height: 12vh;
}

.button-2 {
    float: right;
    .button();
}

.green-button {
    border-color: #00a651;
    background-color: #00a651;
    font-size: 48pt;
    margin-left: 4%;
}

@media (max-width: 767.98px) {
    header {
        .header-icon {
            width: 2.8em;
        }
        .header-txt {
            font-size: 1em;
        }
        .header-menu-icon {
            width: 1.3em;
            margin: 0.1em;
        }
        nav {
            margin-right: 4%;
        }
    }

    .new-items {
        .new-items-title {
        font-size: 2.5em;
        }
        .new-item, .new-item-2 {
        font-size: 4.5em;
        }
    }

    .menu {
        .menu-tite {
            font-size: 1.7em;
        }
        .menu-button, .menu-button-2 {
            width: 40vw;  
            height: 8vh;
            font-size: 0.6em;
        }
        p {
            font-size: 0.28em;
        }
    }

    .map {
        .map-txt {
            font-size: 19pt;
        }
    }

    .profile {
        &-title {
            font-size: 1.5em;
        }
        .form {
            font-size: 1.2em;
        }
        .link {
            font-size: 0.9em;
        }
        .profile-button {
            width: 42%;  
            height: 10vh;
            font-size: 1em;
        }
    }

    .gallery {
        .gallery-drink-1 {
            width: 32%;
            height: 12em;
            margin: 0.5%;
        }
        .gallery-drink-2 {
            width: 24%;
            margin: 0.5%;
            height: 6.5em;
        }
        .gallery-drink-3 {
            width: calc(100%-12*0.5%-32%-24%);
            margin: 0.5%;
            height: 6.5em;
        }
        .gallery-drink-4 {
            width: 37.5%;
            margin: 0.5%;
            height: 6em;
        }
        .gallery-drink-5 {
            width: calc(100%-7.5*0.5%-37.5%);
            height: 11.3em;
            margin: 0.5%;
            margin-top: -82.5px;
        }
    }

    .basket {
        .basket-title {
            font-size: 2em;
        }
        .font-italic {
            font-size: 1em;
        }
        .total-cost {
            font-size: 1.1em;
            text-decoration: underline;
        }
        .price {
            font-size: 0.7em;
        }
    }

    p {
        font-size: 0.3em;
        word-break: break-word;
    }
    .button, .button-2 {
        width: 42vw;  
        height: 7vh;
        font-size: 10pt;
    }
    .green-button {
        font-size: 2em;
    }
    footer {
        .footer-txt{
            font-size: 0.7em;
        }
    }
}

@media (min-width: 767.98px) and (max-width: 1199.98px) {

    p {
        word-break: break-word;
    }

    header {
        .header-icon {
            width: 6.5em;
        }
        .header-txt {
            font-size: 2em;
        }
        .header-menu-icon {
            width: 3em;
            margin: 0.4em;
        }
        nav {
            margin-right: 4%;
        }
    }

    .gallery {
        .gallery-drink-1 {
            width: 32%;
            height: 22em;
            margin: 0.5%;
        }
        .gallery-drink-2 {
            width: 24%;
            margin: 0.5%;
            height: 14.5em;
        }
        .gallery-drink-3 {
            width: calc(100%-12*0.5%-32%-24%);
            margin: 0.5%;
            height: 14.5em;
        }
        .gallery-drink-4 {
            width: 37.5%;
            margin: 0.5%;
            height: 14em;
        }
        .gallery-drink-5 {
            width: calc(100%-9*0.5%-37.5%);
            height: 21.2em;
            margin: 0.5%;
            margin-top: -112.5px;
        }
    }

    .new-items {
        .new-items-title {
        font-size: 4.5em;
        }
        .new-item, .new-item-2 {
        font-size: 2.7em;
        }
    }

    .button, .button-2 {
        width: 42vw;  
        height: 7vh;
        font-size: 0.5em;
    }

    .profile {
        &-title {
            font-size: 2.5em;
        }
        .form {
            font-size: 1.5em;
        }
        .link {
            font-size: 1em;
        }
        .profile-button {
            width: 25%;  
            height: 8vh;
            font-size: 1.2em;
        }
    }

    .green-button {
        font-size: 2.5em;
    }

    .menu {
        .menu-tite {
            font-size: 2.5em;
        }
        .menu-button, .menu-button-2 {
            width: 30vw;  
            height: 12vh;
            font-size: 0.5em;
        }
        p {
            font-size: 0.5em;
        }
    }

    .map {
        .map-txt {
            font-size: 2.5em;
        }
    }

    .history {
        p{
            font-size: 0.7em;
        }
    }

    .basket {
        .basket-title {
            font-size: 2.5em;
        }
        .font-italic {
            font-size: 1.4em;
        }
        .total-cost {
            font-size: 2em;
            text-decoration: underline;
        }
        .price {
            font-size: 1em;
        }
    }

    footer {
        .footer-txt{
            font-size: 1.2em;
        }
    }
}