header {
  display: inline-block;
}
header a.header-txt {
  text-decoration: none;
}
header .header-icon-with-txt {
  align-items: center;
}
header .header-icon {
  width: 9em;
}
header .header-txt {
  text-decoration: none;
  font-size: 3em;
  line-height: 0.9em;
  margin: 0.4em;
}
header .header-menu-icon {
  width: 5em;
  margin: 1em;
}
.gallery {
  display: inline-block;
  position: sticky;
}
.gallery .gallery-drink-1 {
  width: 32%;
  margin: 0.5%;
}
.gallery .gallery-drink-2 {
  width: 24%;
  margin: 0.5%;
}
.gallery .gallery-drink-3 {
  width: 40%;
  margin: 0.5%;
}
.gallery .gallery-drink-4 {
  width: 37.5%;
  margin: 0.5%;
}
.gallery .gallery-drink-5 {
  width: 59.5%;
  margin: 0.5%;
}
.new-items .new-items-title {
  font-size: 80pt;
  color: #028354;
}
.new-items .new-items-txt-with-button {
  margin-top: 7%;
}
.new-items .new-item {
  background-color: #028354;
  font-size: 40pt;
  color: #ffffff;
  align-items: center;
}
.new-items .new-item .col-3 {
  margin: 2.5%;
}
.new-items .new-item-img {
  margin: 2.5%;
}
.new-items .button-2 {
  float: right;
  border-color: black;
  background-color: black;
  font-size: 30pt;
  color: #ffffff;
  margin-bottom: 4%;
}
.new-items .new-item-2 {
  font-size: 40pt;
  align-items: center;
}
footer .row {
  background-color: #dadada;
}
footer .footer-icon {
  width: 8%;
  margin: 3%;
}
footer .footer-txt {
  font-size: 18pt;
}
.map .map-txt {
  font-size: 38pt;
  margin-left: 1.5%;
}
.map .map-img {
  width: 100%;
}
.profile {
  padding: 0px;
}
.profile .link {
  margin-left: 2%;
}
.profile .form {
  font-size: 28pt;
}
.profile-title {
  font-size: 38pt;
  margin: 3%;
}
.profile .form {
  background-color: #e4e4e4;
  padding-left: 2%;
}
.profile .form-label {
  margin-left: 2%;
  width: 95%;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom-color: #acacac;
  background-color: #e4e4e4;
}
.profile .button {
  margin-left: 3%;
}
.profile .green-button {
  border-color: #00a651;
  background-color: #00a651;
  font-size: 48pt;
}
.button {
  border-color: black;
  background-color: black;
  font-size: 30pt;
  color: #ffffff;
  margin-bottom: 4%;
}
